{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu - MealBuddy</title>
   <link rel="stylesheet" href="{% static 'customer_menu.css' %}">
</head>
<body>

<div class="container">

    <div class="top-bar">
        <h1>Hello, {{ username }} 👋</h1>
        <a href="{% url 'show_cart' username %}" class="cart-btn">
            🛒 Go to Cart
        </a>
    </div>

    <h2 class="menu-title">Restaurant Menu</h2>

    <div class="menu-grid">
        {% for item in itemList %}
        <div class="menu-card">

            <img src="{{ item.picture }}" class="item-img">

            <div class="card-content">
                <h3>{{ item.name }}</h3>
                <p class="description">{{ item.description }}</p>

                <div class="bottom-section">
                    <span class="price">₹ {{ item.price }}</span>

                    <span class="veg-tag">
                        {% if item.vegeterian %}
                            🟢 Veg
                        {% else %}
                            🔴 Non-Veg
                        {% endif %}
                    </span>
                </div>

                <a href="{% url 'add_to_cart' item.id username %}" class="add-btn">
                    Add to Cart
                </a>
            </div>

        </div>
        {% endfor %}
    </div>

</div>

</body>
</html>